:root {
  --primary-color: #e1484c
}
.App {
  text-align: center;
}
.App-header {
  border-bottom: 3px solid var(--primary-color);
  display: flex;
}

.App-header img {
  width: 200px;
  height: 200px;
}

.App-header h1 {
  color: var(--primary-color);
  margin: auto auto auto 0;
}